<div class='home'>

  <h1>{{title}}</h1>

  <img class='background'
    src="https://images.unsplash.com/photo-1505935428862-770b6f24f629?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1647&q=80"
    alt="food image">
  {{#if theUser}}
  {{#if theUser.profileImage}}
  <img style="width: 300px" src="{{theUser.profileImage}}">
  {{/if}}
  {{/if}}

</div>