<h1>Profile</h1>


Welcome {{theUser.username}}


<form action='/profile/edit' method='GET'>
    <button type='submit'>Edit profile</button>
</form>




{{!-- page for users to delete their own account --}}

{{!-- <h1>Profile Page</h1>
<h3>{{theUser.username}}</h3>
<form action="account/delete-my-account" method="POST">
<button type='submit'> Delete </button>
</form> --}}