<form action="/user/signup" method="POST" id="signup-form" enctype='multipart/form-data'>
  <img class='background'
    src="https://images.unsplash.com/photo-1505935428862-770b6f24f629?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1647&q=80"
    alt="food image">

  <div class='welcome'>
    <h1>FoodSpace</h1>
  </div>

  <h2>Sign Up</h2>

  <label for="username">Username</label>
  <input type="text" name="theUsername">

  <label for="password">Password</label>
  <input type="password" name="thePassword">



  <p>Profile Picture</p>
  <input type="file" name="the-image-input-name">

  <div>
    <label>Experience</label>
    <br>
    <select name="theExperience">

      <option value="" selected disabled>Please Select One</option>
      <option value="Amateur">Amateur</option>
      <option value="Professional">Professional</option>


    </select>
  </div>

  {{!-- {{#if errorMessage }}
    <div class="error-message">{{ errorMessage }}</div>
  {{/if}} --}}
  <br>
  <button type='submit'>Sign Up</button>


  {{!-- google signup if we want to add later --}}

  {{!-- {{#unless user}}
  <div>
    <a href="/user/auth/google">Sign Up With Google</a>
  </div>
  {{/unless}} --}}

  <p class="account-message">
    Already have an account? <a href="/user/login">Login</a>
  </p>
</form>