@import url("https://fonts.googleapis.com/css?family=Amatic+SC|Dancing+Script|Josefin+Sans&display=swap");
body {
  padding-top: 70px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif; }

a {
  color: #00B7FF; }

.navbar {
  background-color: rgba(0, 0, 0, 0.7); }

.home {
  text-align: center;
  margin: 250px auto;
  font-family: 'Dancing Script', cursive; }

.home h1 {
  font-size: 104px;
  color: rgba(0, 0, 0, 0.7); }

.background {
  /* Set rules to fill background */
  min-height: 100%;
  min-width: 1024px;
  /* Set up proportionate scaling */
  width: 100%;
  height: auto;
  /* Set up positioning */
  position: fixed;
  top: 0;
  left: 0;
  z-index: -5; }

.recipes-wrapper h2 {
  text-align: center;
  font-family: 'Amatic SC', cursive;
  font-size: 72px; }

.recipes-list {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap; }

.recipe-card {
  width: 300px;
  height: 350px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-color: rgba(251, 90, 117, 0.7);
  margin: 16px;
  border-radius: 16px;
  text-align: center;
  color: white; }

.recipe-card h4 {
  font: 24px 'Josefin Sans', sans-serif; }

.recipe-card img {
  width: 80%;
  border-radius: 8px;
  border: 1px solid white;
  box-shadow: 3px 0px 9px 0px rgba(0, 0, 0, 0.3); }

.recipes-list a {
  color: black; }

.recipes-list a:hover {
  text-decoration: none;
  transform: scale(1.05);
  color: black;
  transition: .5s ease; }

.details-wrapper {
  margin: 16px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 24px;
  border-radius: 8px;
  background-color: rgba(251, 90, 117, 0.85);
  color: white; }

.details-wrapper img {
  border-radius: 8px;
  border: 1px solid white;
  box-shadow: 3px 0px 9px 0px rgba(0, 0, 0, 0.3); }

.details-wrapper div {
  margin: 8px; }

.details-text a {
  color: white; }

.details-text h1 {
  font-family: 'Amatic SC', cursive;
  font-size: 48px;
  margin-bottom: 20px; }

.details-text h6, p, li {
  font-family: 'Josefin Sans', sans-serif; }

.comment-box {
  margin: auto 350px; }

.comments {
  text-align: left;
  border-radius: 8px;
  background-color: rgba(72, 74, 75, 0.6);
  color: white;
  padding: 5px; }

.comment-user {
  color: #00f7ff; }

#signup-form {
  margin: 30px auto;
  width: 380px; }

#signup-form label {
  color: #666;
  display: inline-block;
  margin-bottom: 10px;
  text-align: center;
  width: 100%; }

#signup-form input,
#signup-form button {
  box-sizing: border-box;
  font-size: 14px;
  outline: 0;
  padding: 4px;
  width: 100%;
  margin-bottom: 20px; }

#signup-form button {
  background: #43a3e6;
  border: 1px solid #43a3e6;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  padding: 8px 16px;
  text-decoration: none;
  text-transform: uppercase;
  transition: .3s ease background;
  width: 100%; }

#signup-form button:hover {
  background: #fff;
  color: #43a3e6;
  transition: .3s ease background; }

#login-form {
  margin: 175px auto;
  width: 380px; }

#login-form label {
  display: inline-block;
  margin-bottom: 10px;
  text-align: center;
  width: 100%;
  color: rgba(0, 0, 0, 0.7); }

#login-form input,
#login-form button {
  box-sizing: border-box;
  font-size: 14px;
  outline: 0;
  padding: 4px;
  width: 100%;
  margin-bottom: 20px; }

#login-form button {
  background: #43a3e6;
  border: 1px solid #43a3e6;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  padding: 8px 16px;
  text-decoration: none;
  text-transform: uppercase;
  transition: .3s ease background;
  width: 100%; }

#login-form button:hover {
  background: #fff;
  color: #43a3e6;
  transition: .3s ease background; }

.welcome h1 {
  font-size: 96px;
  font-family: 'Dancing Script', cursive;
  text-align: center; }

.details-image img {
  width: 400px; }

/*# sourceMappingURL=style.css.map */