
<h1>Log In</h1>


<form action="/login" method="POST">

        <div>
            <p>Username</p>
            <input type="text" name="username">
        </div>
        
        <div>
            <p>Password</p>
            <input type="password" name="password">
        </div>


        <button>Submit</button>
</form>