<h2> List of All Recipes</h2>

<div class='wrapper'>
    {{#each recipes}}
    <div class='recipe-card'>
        <h4> <a href="/recipes/details/{{this._id}}">{{this.title}}</a></h4>

        <img src="{{this.image}}" alt="food image">
    </div>
    {{/each}}
</div>