
<div id='all-recipes-page'>

<h2> List of All Recipes</h2>

<div id='all-recipes-list'>

    {{#each recipes}}
    <a href="/recipes/details/{{this._id}}">
    <div class='recipe-card'>
        <h4> {{this.title}} </h4>

        <img src="{{this.image}}" alt="food image">
    </div>
    </a>

    {{/each}}


</div>



</div>

