<div class='add-new'>
    <h2> Add a new recipe </h2>

    <form action="/recipes/new" method="POST">

        <div>
            <p>Title</p>
            <input type="text" name='theTitle'>

            <p>Duration</p>
            <input type="text" name='theDuration'>


            <p>Instructions</p>
            {{!-- <p>How many steps? <input type='number' name='numOfSteps'></p>
            
            <p> Step 1: <input type='text' name='theStep'></p>

            <button>Add a step</button> --}}
            



        </div>

        {{!-- file upload for images needs to be added below --}}
        <div>
            <p>Image:</p>
              <input type="file" name="the-image-input-name">
            {{!-- <input type="text" name='theImage'> --}}
        </div>

        <input type='hidden' name='theAuthor' value='{{theUser._id}}'>


        <div>
            <button type="submit">SAVE</button>
        </div>

    </form>
</div>

