{{#each recipe}}
<p> {{this.title}} </p>
<p> {{this.duration}} minutes</p>

<ol>
    {{#each recipe.instructions}}
    <li>{{this.step}}</li>
    {{/each}}
</ol>

<img src="{{this.image}}" alt="food image">
{{/each}}