<h1> Update Recipe </h1>

<form>


    <p>Title: </p>
    <input type='text'>


    <p>Instructions: </p>
    <input type='text'>


    <p>Image: </p>
    <input>


    <p>Duration: </p>
    <input>



    <p>Author: </p>
    <input>
    

</form>