<h1> Update Recipe </h1>

<form>


    <p>Name: </p>
    <input>


    <p>Description: </p>
    <input>


    <p>Image: </p>
    <input>


    <p>Duration: </p>
    <input>



    <p>Author: </p>
    <input>
    

</form>